@import './base.css';

/* 横屏 */
@media screen and (min-width: 1024px) {
  #app {
    max-width: 1280px;
    display: flex;
    margin: auto;
    height: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* 均分两块，因为右侧文字多，使得右边的比左边的先压缩 */
    /* 如果flex正常横流排，两边压缩程度是一样的 */
  }
  #app>:nth-child(n){
    width: 50%;
  }
}

/* 竖屏 */
@media screen and (max-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;

    /* display: block; */
    /* 使用block竖向排列时候，需要打开子级header的width: fit-content; */
    height: 100%;
  }
}