@import './base.css';
#app {
  max-width: 1280px;
  margin: auto;
  height: 100%;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* 均分两块，因为右侧文字多，使得右边的比左边的先压缩 */
  /* 如果flex正常横流排，两边压缩程度是一样的 */
  display: flex;
}
@media screen and (max-width: 1024px) {
  #app {
    /* display: block; */
    flex-direction: column;
  }
}
a,
.green {
  text-decoration: none;
  color: hsla(var(--green), 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(var(--green), 30%, 60%, 0.2);
  }
}

