@import './base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(var(--aa), 100%, 37%, 0.2);
  }
}

body {
  background: var(--color-background);
  height: 100vh;

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-text);
}

#app {
  height: 100%;
  margin: auto;
  max-width: 1280px;
  display: flex;
  
}

@media screen and (max-width: 1024px) {
  #app {
    flex-direction: column;
    
  }

}

html {}